.app-footer {
    background: #ea580c;
    color: white;
    text-align: center;

    padding: 10px 0;
    /* 🔥 reduce height */
    font-size: 14px;

    margin-top: auto;
    /* push to bottom */
}

/* REMOVE extra spacing inside paragraph */

.app-footer p {
    margin: 0;
}